/* all root variables */
:root {
    --green: #27ae60;
    --black: #444;
    --light-color: rgb(73, 69, 69);
    --bg-color: #e6e6e6;
    --border: .1rem solid rgba(0, 0, 0, .2);
    --border2: none;
    --box-shadow: .4rem .4rem 1rem #ccc,
        -.4rem -.4rem 1rem #fff;
    --box-shadow2: .4rem .4rem .5rem #ccc,
        -.4rem -.4rem .5rem #fff;
    --box-shadow-inset: .4rem .4rem 1rem #ccc inset,
        -.4rem -.4rem 1rem #fff inset;
}

body {
    background-color: var(--bg-color);
}

.active {
    --black: #fff;
    --white: #fff;
    --light-color: #ddd;
    --bg-color: #222;
    --border: .1rem solid rgba(0, 0, 0, .4);
    --box-shadow: .4rem .4rem 1rem #111,
        -.4rem -.4rem 1rem #333;
    --box-shadow-inset: .4rem .4rem 1rem #111 inset,
        -.4rem -.4rem 1rem #333 inset;
}

/* Theme Toggler Position */
#theme-toggler {
    position: absolute;
    top: 10px;
    right: 2rem;
    /* z-index: 1000; */
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 50%;
    /* font-size: 1rem; */
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--black);
    background: var(--bg-color);
}

/* Card Style */

.card {
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    color: var(--white);
    border: 0;
}

img {
    border-radius: 17px;
}

/* Social icons style */

nav li {
    list-style-type: none;
    box-shadow: var(--box-shadow);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 5px 15px;
    transition: 0.5s;
}

nav a {
    font-size: 30px;

}

nav a i {
    color: var(--black);
}

nav li:hover {

    box-shadow: var(--box-shadow-inset)
}

.bi-facebook {
    color: #446beb;

}

.bi-instagram {
    color: red;
}



.bi-whatsapp {
    color: #63d843;

}

.bi-linkedin {
    color: #1e4de6;

}

/* phoneInput search bar style */
#phoneInput {
    background-color: var(--bg-color);
    color: var(--white);
    border: 0;
    box-shadow: var(--box-shadow-inset);
    padding: 15px 50px;
    border-radius: 10px;

}

#submit {
    background: var(--bg-color);
    color: var(--black);
    box-shadow: var(--box-shadow);
    padding: 10px 10px;
    border-radius: 5px;
}

#submit:hover {
    box-shadow: var(--box-shadow-inset);
}

.bi-search {
    font-size: 23px;
}

/* Phone Details */

.main-info {
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    padding: 20px;
}

.main-info span::after {
    content: "\A";
    white-space: pre;

}
.main-info li{
    margin: 15px 0;
    color: var(--black);
}

#details ul {
    list-style: none;
}

#details i {
    color: red;
}
/* Close button */
.main-info{
    position: relative;
}
.main-info i{
    font-size: 30px;
}
#close-btn{
    position: absolute;
    top: 0;
    left: 95%;
}

/* ---------------
Media Queries 
------------- */
/* Mobile Devices */
@media only screen and (max-width: 281px) {
    #theme-toggler {
        height: 2rem;
        width: 2rem;
        line-height: 2rem;
        top: 20px;
        left: 15rem;
    }
    #close-btn{
        position: absolute;
        top: 0;
        left: 80%;
        font-size: 20px;
    }
}
/* for normal mobile devices */
@media only screen and (min-width:282px) and (max-width:688px) {
    #theme-toggler {
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
        top: 20px;

    }
    #close-btn{
        position: absolute;
        top: 0;
        left: 83%;
        
    }
}

@media only screen and (max-width:688px) {

    #phoneInput {
        padding: 5px;
        border-radius: 10px;

    }

    #submit {
        padding: 5px 10px;

    }

    .bi-search {
        font-size: 20px;
    }

    nav a {
        font-size: 20px;
    }

    nav li {
        margin: 5px;
    }
}
/*working only in ipad portrait device*/
@media only screen and (max-width: 992px) and (min-width: 541px)  {
    /* iPads, Tablets */
    #close-btn{
        position: absolute;
        top: 0;
        left: 92%;
    }
     
  }
